@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box ;
  font-family: 'Playpen Sans', cursive;
  
}
.containerC{
  display:flex;
  justify-content:center;
}
body{
  background-image:linear-gradient(to bottom,darkviolet,darkslateblue,indigo);
  width:100vw;
  height:100vh;
  
}
.searchBtn{
  width:2.75rem;
  height:2.75rem;
  border-radius:50%;
  background-color:white;
  padding:0.7rem;
  border:1px solid white;
  margin-top:3rem;
  margin-left:0.7rem;
  opacity:0.8;
  
  
  
}
.searchImg{
  width:1.3rem;
  height:1.3rem;
  border-radius:50%;
  opacity:0.5;
}
.searchCty{
  border:1px solid white;
  border-radius:2rem;
  width:65%;
  height:2.75rem;
  margin-top:3rem;
  padding-left:1rem;
  opacity:0.8;

}
.searchBtn:active{
  opacity:0.9;
}
.city,.contTemp,.infoW{
  display:flex;
  justify-content: center;
  align-items:center;
  padding:0.75rem;
  
}
.weatherContainer{
  display:flex;
  justify-content: center;
  align-items:center;
  
}
.weatherPic{
  height:17rem;
  width:17rem;
  opacity:0.5;
}
.cities,.temp,.text{
  font-family: 'Inter', sans-serif;
  color:white;
  opacity:0.6;
}
.cities{
  font-size:1.75rem;
}
.temp{
  font-size:3rem
}
.infoW{
  display:flex;
  justify-content: space-around;
  align-items:center;
  
  
  
}


.inf{
  opacity:0.7;
  width:1.95rem;
  height:1.95rem;
  margin-right:5px;
  
  
  
  
  
}
span{
  font-size:1rem;
}
.on{
  transform:translateY(5rem);
}


